{% extends 'catalog/base.html' %}
{% block content %}


    <div class="col-lg-10">
            <div class="content">
                <div class="container mt-5">
                    <div class="row justify-content-center">
                         <div class="col-lg-6">
    <h1>Контакты</h1>
    <p>Свяжитесь с нами по следующим контактным данным:</p>
    <ul>
        <li>Телефон: +7 123 456 789</li>
        <li>Email: example@example.com</li>
    </ul>
</div>
</div>
</div>
</div>
</div>
{% endblock %}